/*===============================common styles==============================*/
body {
    font-family: 'Montserrat', sans-serif;
}
h1 {

}
h2 {

}
h3 {

}
p {
 font-size: 9.5px;
    line-height: 15px;
}
a:link,
a:visited,
a:active {
    
}
a:hover{
    color: #2b7de0;
}
a:hover {

}
img {
}

button:focus, .purchase-controls__quantity{
    outline: none;
}

.cars{
    padding: 0 0 0 1px;
}

.cars__item{
    display:flex;
    align-items: center;
    height: 180px;
    width: 720px;
    margin: 1px 0 0 -1px;
}

@media (max-width: 480px) {
    .cars__item{
        flex-direction: column;
        width: 480px;
        height: auto;
        padding: 35px 0 30px 0;
    }
}

.car__link{
    position: relative;
    margin-left: 27px;
    margin-bottom: 10px;
}

@media (max-width: 480px) {
    .car__link{
        margin: 0 0 1px 0;
    }
}

.car__link img{
    width: 116px;
}

@media (max-width: 480px) {
    .car__link img{
        width: 378px;
    }
}

.car__marks{
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 480px) {
 .car__marks{
     width: inherit;
 }
}

.marks_mark{
    color: #ffffff;
    font-size: 9px;
    /*background-color: #777777;*/
    padding: 5px 7px;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
}

@media (max-width: 480px) {
    .marks_mark{
        font-size: 12px;
        padding: 7px 9px;
        margin-right: 4px;
    }
}

.mark--recommended{
    background-color: #7558cd;
}

.mark--new{
    background-color: #62c34b;
}

.mark--popular{
    background-color: #e74650;
}

.mark--sale{
    background-color: #f7d33b;
    color: black;
}

.car__car-info{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    width: 325px;
    padding: 0 25px;
}

@media (max-width: 480px) {
    .car__car-info{
        padding: 0 52px;
    }
}

.car-info__name{
    font-size: 12px;
    color: black;
    text-decoration: none;
    margin: 27px 0 0 0;
}

@media (max-width: 480px) {
    .car-info__name{
        font-size: 16px;
    }
}

.car-info__description{
    font-size: 9.5px;
    color: #777777;
    padding: 0 0;
    margin: 11px 0 16px 0;
}

@media (max-width: 480px) {
    .car-info__description{
        font-size: 13px;
        margin: 20px 0 19px 0;
        width: 380px;
        line-height: 19px;
    }
}

.car-info__parameters{
    font-size: 9.5px;
    width: 200px;
}

dl{
    margin: 3px 0;
}

dt,
dd{
    display: inline-block;
    margin: 0 0 6px 0;
}

dt::after{
    content: "—";

}

@media (max-width: 480px) {
    .car-info__parameters{
        width: 250px;
    }
    dt, dd{
        font-size: 13px;
        margin: 0 0 8px 0;
    }
}

.car-info__parameters .measure{
    color: #777777;
}


.car-info__parameters .value{
    color: black;
}

.car__puchase-info{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin: -2px 0 0 38px;
}

@media (max-width: 480px) {
    .car__puchase-info{
        margin: 0;
        padding: 3px 52px;
        flex-direction: row;
        justify-content: space-between;
    }
}

.car__availability{
    text-transform: uppercase;
    font-size: 8px;
    margin: 23px 0 7px 0;
    display: block;
    line-height: 15px;
}

@media (max-width: 480px) {
    .car__availability{
        font-size: 11px;
    }
}

.car__availability-expected{
    color: #f28c29;
}

.car__availability-availible{
    color: #5fa800;
}

.cost-info__actual-cost{
    font: bold 12.5px 'Montserrat', sans-serif;
    color: #333333;
}

@media (max-width: 480px) {
    .cost-info__actual-cost{
        font-size: 17px;
        padding: 8px 0;
    }
}

.cost-info__old-cost{
    text-decoration: line-through;
    color: #777777;
    font-size: 9.5px;
    margin: 3px 0 -1px 0;
    line-height: 15px;
}

@media (max-width: 480px) {
    .cost-info__old-cost{
        color: black;
        font-size: 13px;
        margin: 0 0 18px 0;
    }
}

.car__purchase-controls{
    font-size: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #777777;
    margin: 14px 0 2px 0;
    padding: 4px 0;
    width: 139px;
    background-color: #f8f9fb;
    border-radius: 2px;
}

.purchase-controls__quantity{
    background-color: inherit;
    font: 9px 'Montserrat', sans-serif;
    color: inherit;
    border: none;
    text-align: center;
    width: 20px;
}

@media (max-width: 480px) {
    .car__purchase-controls{
        font-size: 13px;
        width: 193px;
        padding: 8px 0;
        margin: 11px 0 0 0;
    }
    .car__purchase-controls button{
        font-size: 15pt;
        padding: 0 4px;
    }
    .purchase-controls__quantity{
      font-size: 13px;
    }
}

.purchase-controls__minus,
.purchase-controls__plus{
    padding: 3px 0 0 0;
    border: none;
    background-color: #f8f9fb;
}

.car__purchase-controls button:hover svg{
    color: #2b7de0;
    cursor: pointer;
}

.car__purchase-controls svg{
    width: 12px;
    height: 13px;
    color: #777777;
    padding: 0 6px;
}

@media (max-width: 480px) {
    .car__purchase-controls svg{
        width: 16px;
        height: 17px;
    }
}

.car__action-button{
    width: 139px;
    font: 8.5pt 'Montserrat', sans-serif;
    background-color: #2b7de0;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    margin: 0 0 10px 0;
    padding: 5px 0 7px 0;
}

.car__action-button:hover{
    background-color: #4289e0;
    cursor: pointer;
}

@media (max-width: 480px) {
    .car__action-button{
        font-size: 12pt;
        width: 193px;
        padding: 9px 0 9px 0;
        margin: 0;
    }
}

.equipment{
    color: #777777;
    vertical-align: bottom;
    display: flex;
}

@media (max-width: 480px) {
    .equipment{
        margin: 40px 0 0 65px;
    }
}

.equipment p{
    width: 130px;
    font-size: 9px;
    }

@media (max-width: 480px) {
    .equipment p{
        font-size: 12px;
    }
}

.equipment img{
    width: 12px;
    height: 13px;
    margin: 0 4px 0 0;
    opacity: 50%;
}

@media (max-width: 480px) {
    .equipment img{
        width: 16px;
        height: 17px;
        margin: 0 7px 0 0;
    }
}