<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="assets/css/reset.css" media="all">
    <link type="text/css" rel="stylesheet" href="assets/css/screen.css" media="all">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<main>
    <ul class="cars">
        <li class="cars__item car">
            <a href="#" class="car__link">
                <img src="images/content/car_1.jpg" alt="car_photo">
                <ul class="car__marks marks">
                    <li class="marks_item mark mark--recommended"><span class="">Мы советуем</span></li>
                    <li class="marks_item mark mark--new"><span class="">Новинка</span></li>
                </ul>
            </a>
            <div class="car__car-info">
                <a href="#" class="car__name">Backen Ponevira</a>
                <p class="car__description">Люксовый автомобиль, который сумел
                    объединить в себе несочетаемое: мощность и комфорт, динамику
                    и экономичность, бизнес и поездки с семьей.
                </p>
                <dl class="car__parameters parameters">
                    <dt class="parameters__measure">Мощность,&nbsp;л.с.</dt>
                    <dd class="parameters__value">440</dd>
                    <dt class="parameters__measure">Объем&nbsp;двигателя,&nbsp;куб.&nbsp;см.</dt>
                    <dd class="parameters__value">2894</dd>
                    <dt class="parameters__measure">Разгон&nbsp;до&nbsp;100&nbsp;км/ч.</dt>
                    <dd class="parameters__value">4.4</dd>
                </dl>
            </div>
            <div class="car__puchase-info">
                <div class="car__price-info">
                    <div class="car__availability availability availability--expected">Ожидается</div>
                    <div class="car__actual-cost">от <span class="number">6 218 000</span> р.</div>
                    <form action="index.html" name="Backen-Ponevira" method="get">
                        <div class="car__purchase-controls purchase-controls">
                            <button type="button" class="purchase-controls__minus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#777777" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                            </button>
                            <label><input type="text" name="quantity" class="purchase-controls__quantity"  value="1" readonly></label>
                            <button type="button" class="purchase-controls__plus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                            </button>
                        </div>
                        <button name="to_card" class="car__action-button" type="submit">в корзину</button>
                    </form>
                </div>
                <div class="car__equipment equipment">
                    <img src="images/design/info.svg" alt="info-icon"><span>Немецкая сборка</span>
                </div>
            </div>
        </li>
        <li class="cars__item car">
            <a href="#" class="car__link">
                <img src="images/content/car_2.jpg" alt="car_photo">
                <ul class="car__marks marks">
                    <li class="marks_item mark mark--sale"><span class="">Акция</span></li>
                    <li class="marks_item mark mark--recommended"><span class="">Мы советуем</span></li>
                    <li class="marks_item mark mark--new"><span class="">Новинка</span></li>
                    <li class="marks_item mark mark--popular"><span class="">Хит</span></li>
                </ul>
            </a>
            <div class="car__car-info">
                <a href="#" class="car__name">Backen Mocen</a>
                <p class="car__description">Спортивный кроссовер для тех,
                    кто предпочитает быть всегда первым – эффектный вид, полный привод,
                    возвышенная посадка и мощный двигатель.
                </p>
                <dl class="car__parameters parameters">
                    <dt class="parameters__measure">Мощность,&nbsp;л.с.</dt>
                    <dd class="parameters__value">360</dd>
                    <dt class="parameters__measure">Объем&nbsp;двигателя,&nbsp;куб.&nbsp;см.</dt>
                    <dd class="parameters__value">2997</dd>
                    <dt class="parameters__measure">Разгон&nbsp;до&nbsp;100&nbsp;км/ч.</dt>
                    <dd class="parameters__value">5.2</dd>
                </dl>
            </div>
            <div class="car__puchase-info">
                <div class="car__price-info">
                    <div class="car__availability availability availability--availible">В наличии</div>
                    <div class="car__actual-cost">от <span class="number">5 506 000</span> р.</div>
                    <div class="car__old-cost">5 720 000 р.</div>
                    <form action="index.html" name="Backen-Mocen">
                        <div class="car__purchase-controls purchase-controls">
                            <button type="button" class="purchase-controls__minus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#777777" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                            </button>
                            <label><input type="text" class="purchase-controls__quantity" name="quantity" value="1" readonly></label>
                            <button type="button" class="purchase-controls__plus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                            </button>
                        </div>
                        <button name="to_card" class="car__action-button">в корзину</button>
                    </form>
                </div>
                <div class="car__equipment equipment">
                    <img src="images/design/info.svg" alt="info-icon"><span>Прямая поставка из Германии</span>
                </div>
            </div>
        </li>
    </ul>
</main>
<script src="assets/js/script.js"></script>
</body>
</html>