<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="assets/css/reset.css" media="all">
    <link type="text/css" rel="stylesheet" href="assets/css/screen.css" media="all">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <ul class="cars">
        <li class="cars__item car">
            <a href="#" class="car-link"><img src="images/car_1.png" alt="car_photo"><div class="car__marks"><span class="mark mark-recommended">Мы советуем</span><span class="mark mark-new">Новинка</span></div></a>


            <div class="car__parameters parameters">
                <a href="#" class="parameters__name">Backen Ponevira</a>
                <p class="parameters__description">Люксовый автомобиль, который сумел объединить в себе несочетаемое: мощность и комфорт, динамику и экономичность, бизнес и поездки с семьей.</p>
                    <div class="parameters__measures">
                        <p><span class="measure">Мощность, л.с.  —  </span>
                        <span class="value">440</span></p>
                        <p><span class="measure">Объем двигателя, куб. см. — </span>
                        <span class="value">2894</span></p>
                        <p><span class="measure">Разгон до 100 км/ч, — </span>
                        <span class="value">4.4</span></p>
                    </div>
            </div>
            <div class="car__puchase-info puchase-info">
                <div class="purhase-info__price-info price-info">
                    <p class="price-info__availability price-info__availability-expected ">Ожидается</p>
                    <p class="price-info__cost">от <span class="number">6 218 000</span> р.</p>
                    <div class="price-info__controls"><button class="minus"><img src="images/minus.svg" alt="minus"></button><span class="quantity">1</span><button class="plus">
                        <img src="images/plus.svg" alt="plus"></button></div>
                    <button name="to_card" class="puchase-controls__to-card">в корзину</button>
                </div>
                <div class="purchase-info__equipment equipment"><img src="images/info.svg" alt="info_icon"><p>Немецкая сборка</p></div>
            </div>

        </li>
        <li class="cars__item car">
            <a href="#" class="car-link"><img src="images/car_2.png" alt="car_photo"><div class="car__marks"><span class="mark mark-sale">Акция</span><span class="mark mark-recommended">Мы советуем</span><span class="mark mark-new">Новинка</span><span class="mark mark-popular">Хит</span></div></a>
            <div class="car__parameters parameters">
                <a href="#" class="parameters__name">Backen Mocen</a>
                <p class="parameters__description">Спортивный кроссовер для тех, кто предпочитает быть всегда первым – эффектный вид, полный привод, возвышенная посадка и мощный двигатель.</p>
                <div class="parameters__measures">
                    <p><span class="measure">Мощность, л.с.  —  </span>
                        <span class="value">360</span></p>
                    <p><span class="measure">Объем двигателя, куб. см. — </span>
                        <span class="value">2997</span></p>
                    <p><span class="measure">Разгон до 100 км/ч, — </span>
                        <span class="value">5.2</span></p>
                </div>
            </div>
            <div class="car__puchase-info puchase-info">
                <div class="purhase-info__price-info price-info">
                    <p class="price-info__availability price-info__availability-availible">В наличии</p>
                    <p class="price-info__cost">от <span class="number">5 506 000</span> р.</p>
                    <p class="price-info__old-cost">5720000 р.</p>
                    <div class="price-info__controls"><button class="minus"><img src="images/minus.svg" alt="minus"></button><span class="quantity">1</span><button class="plus"><img src="images/plus.svg" alt="plus"></button></div>
                    <button name="to_card" class="puchase-controls__to-card">в корзину</button>
                </div>
                <div class="purchase-info__equipment equipment"><img src="images/info.svg" alt="info_icon"><p>Прямая поставка из Германии</p></div>
            </div>

        </li>
    </ul>


<script src="assets/js/script.js"></script>
</body>
</html>